
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2:hover {
  background-color: black;
  color:aliceblue;
}
.h2{
  text-align: center;
}

.b{
  text-align: center;
}
.row {
  display: flex;
}
